doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid.vh-100
            .container 
                .row 
                    header.d-flex.justify-content-evenly.align-items-center.mt-3
                        #title_section.d-flex.justify-content-evenly.align-items-center.position-relative 
                            h1#heading.fs-1 Magic CSS 
                            i#magic_stick.fa-solid.fa-hat-wizard.fs-4.position-absolute
                        button#github.fs-2.border-0.bg-transparent
                            i.fa-brands.fa-github
            .container#boxShadowMagic__page.page
                .row.h-100 
                    section#boxShadowMagic_tools.col-8
                        .row.h-100 
                            .col-6.text-center.d-flex.flex-column.align-items-center.justify-content-center.fs-5 
                                section#x_boxShadow
                                    p.mb-0 X 
                                    .range
                                        .slider_value 
                                            span 0 
                                        .field 
                                            .value.left -130 
                                            input.rangeSliders(type="range", name="" min ='-130' max='130' value ='0' steps = '1')
                                            .value.right 130
                                section#Y_boxShadow
                                    p.mb-0 Y 
                                    .range
                                        .slider_value 
                                            span 0
                                        .field 
                                            .value.left -130 
                                            input.rangeSliders(type="range", name="" min ='-130' max='130' value ='0' steps = '1')
                                            .value.right 130
                                section#blur_boxShadow
                                    p.mb-0 Blur 
                                    .range
                                        .slider_value 
                                            span 100 
                                        .field 
                                            .value.left -130 
                                            input.rangeSliders(type="range", name="" min ='-130' max='130' value ='0' steps = '1')
                                            .value.right 130
                                section#spread_boxShadow
                                    p.mb-0 Spread 
                                    .range
                                        .slider_value 
                                            span 0 
                                        .field 
                                            .value.left -130 
                                            input.rangeSliders(type="range", name="" min ='-130' max='130' value ='0' steps = '1')
                                            .value.right 130
                                section#inset_boxShadow 
                                    lable Inset 
                                    input#inset_input(type="checkbox", name="")
                            .col-6.text-center.d-flex.flex-column.align-items-center.justify-content-center.fs-5 
                                section#color_boxShadow 
                                    #color_picker
                    section#boxShadowMagic_result.col-4.d-flex.flex-column.align-items-center.justify-content-center
                        section#boxShadowMagic_sample.d-inline-block
            .container
                .row.text-center.d-flex.justify-content-center
                    nav#menu.col-4.position-relative.rounded
                        ul#menu_list.d-flex.justify-content-around.align-items-center.mb-0.p-3
                            li.menu__item.fs-5.w-100.text-center
                                i.fa-solid.fa-wand-magic.text-primary
                            li.menu__item.fs-5.w-100.text-center.pe-2 
                                i.fa-solid.fa-dice-d20
                            li.menu__item.fs-5.w-100.text-center
                                i.fa-solid.fa-cookie-bite
                        #tubeLight.position-absolute
                            #light
    include includes/_scripts
    