doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid.vh-100
            include includes/components/_heading
            include includes/components/pages/_boxShadow_page
            include includes/components/_navbar
    include includes/_scripts
    