doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid 
            .container 
                .row 
                    header.d-flex.justify-content-evenly.align-items-center.mt-3
                        #title_section.d-flex.justify-content-evenly.align-items-center.position-relative 
                            h1#heading.fs-1 Magic CSS 
                            i#magic_stick.fa-solid.fa-hat-wizard.fs-4.position-absolute
                        button#github.fs-2.border-0.bg-transparent
                            i.fa-brands.fa-github
                .row
                    nav#menu.col-4.offset-4.position-relative.rounded
                        ul#menu_list.d-flex.justify-content-around.align-items-center.mb-0.p-3
                            li.menu__item.fs-5.w-100.text-center
                                i.fa-solid.fa-wand-magic.text-primary
                            li.menu__item.fs-5.w-100.text-center.pe-2 
                                i.fa-solid.fa-dice-d20
                            li.menu__item.fs-5.w-100.text-center
                                i.fa-solid.fa-cookie-bite
                        #tubeLight.position-absolute
                            #light
    include includes/_scripts
    