doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid.vh-100.d-flex.justify-content-center.align-items-center.flex-column
            include includes/components/_heading
            #pages
                include includes/components/pages/_boxShadow_page
                include includes/components/pages/_gradient_page
                include includes/components/pages/_textShadow_page 
                include includes/components/pages/_borderRadius_page
            include includes/components/_navbar
    include includes/_scripts
    