.container#border_page.page.position-absolute.page4
    .row.d-flex.align-items-center.h-100
        section#border_tools.col-6.d-flex.justify-content-center.align-items-center.flex-column
            select#borderMode
                option(value="same") Same on all sides
                option(value="different") different on all sides
            section#allSidesBorder_section.mt-5
                p.mb-0.fs-5 Radius
                .slider_range.justify-content-start
                    .wrapper_slider
                        span.navigator 0
                        input.slider_range_input#allSidesBorder_input(type='range' min='0' max='100' value='0').border_range
            section#eachSideBorder_section.mt-5(hidden)
                .row 
                    .col-6
                        p.mb-0.fs-5 Top-left
                        .slider_range.justify-content-start
                            .wrapper_slider
                                span.navigator 0
                                input.slider_range_input#topLeftBorder_input(type='range' min='0' max='100' value='0').border_range
                        p.mb-0.fs-5 Bottom-left
                        .slider_range.justify-content-start
                            .wrapper_slider
                                span.navigator 0
                                input.slider_range_input#bottomLeftBorder_input(type='range' min='0' max='100' value='0').border_range
                    .col-6 
                        p.mb-0.fs-5 Top-right
                        .slider_range.justify-content-start
                            .wrapper_slider
                                span.navigator 0
                                input.slider_range_input#topRightBorder_input(type='range' min='0' max='100' value='0').border_range
                        p.mb-0.fs-5 Bottom-right
                        .slider_range.justify-content-start
                            .wrapper_slider
                                span.navigator 0
                                input.slider_range_input#bottomRightBorder_input(type='range' min='0' max='100' value='0').border_range
            section#units
                p Unit 
                .unit_wrapper 
                    input#pixel_border_unit(type="radio" name='units' checked).border_units
                    label(for="pixel_border_unit") PX
                .unit_wrapper 
                    input#percent_border_unit(type="radio" name='units').border_units
                    label(for="percent_border_unit") %
        section#border_result_display.col-6.d-flex.justify-content-center.align-items-center.flex-column
            section#border_result_sample 
            section#border_clipboard.position-relative.mt-5.text-center
                pre
                    code border-radius: 10px 10px 10px 10px;
                button.copyToClipboardBtn.p-2.btn.btn-lg.border-0#copyBorder.position-absolute
                    i.fa-solid.fa-clipboard-list 