.container#gradient_page.page
    .row.mt-4
        section#gradient_result.col-8.offset-2 
    .row.mt-4
        section#gradient_color_left.col-3.d-flex.justify-content-center.align-items-center.flex-column
            #gradient_color_picker_left
            section#gd__ColorInfo__left.d-flex.flex-column.mt-3
                .wrapper.d-flex
                    input.hex__color#gd_hex_left(type="text", name="" value='#4169e1' readonly).d-inline-block
                    input.r__color#gd_r_left(type="number", name="" value='65' max='255' min='0' readonly).d-inline-block
                    input.g__color#gd_g_left(type="number", name="" value='105' max='255' min='0' readonly).d-inline-block
                    input.b__color#gd_b_left(type="number", name="" value='225' max='255' min='0' readonly).d-inline-block
                    input.a__color#gd_a_left(type="number", name="" value='0' max='255' min='0' readonly).d-inline-block
                .wrapper.d-flex
                    label(for="gd_hex_left") Hex
                    label(for="gd_r_left") R
                    label(for="gd_g_left") G
                    label(for="gd_b_left") B
                    label(for="gd_a_left") A
        section#gradient_type_tools.col-6.d-flex.justify-content-center.align-items-center.flex-column
            section#gradient_type.d-flex.align-items-center
                p.gradient_tool_title.mb-2.me-3.user-select-none Type 
                select#gradient_select
                    option(value="linear") linear 
                    option(value="radial") radial
            section#gradient_angle
                p.gradient_tool_title.mb-0.mt-3.user-select-none Angle 
                .slider_range
                    span.value.left 0
                    .wrapper_slider
                        span.navigator 0
                        input.slider_range_input#gd_angle(type='range' min='0' max='360' value='0')
                    span.value.right 360
            section#gradient_clipboard.position-relative.w-100.mt-3.text-center
                pre
                    code  background: linear-gradient(24deg, rgb(68, 9, 9), rgb(37, 172, 165));
                button.copyToClipboardBtn.p-2.btn.btn-lg.border-0#copyGradient.position-absolute
                    i.fa-solid.fa-clipboard-list
        section#gradient_color_right.col-3.text-center.d-flex.justify-content-center.align-items-center.flex-column
            #gradient_color_picker_right
            section#gd__ColorInfo__right.d-flex.flex-column.mt-3
                .wrapper.d-flex
                    input.hex__color#gd_hex_right(type="text", name="" value='#4169e1' readonly).d-inline-block
                    input.r__color#gd_r_right(type="number", name="" value='65' max='255' min='0' readonly).d-inline-block
                    input.g__color#gd_g_right(type="number", name="" value='105' max='255' min='0' readonly).d-inline-block
                    input.b__color#gd_b_right(type="number", name="" value='225' max='255' min='0' readonly).d-inline-block
                    input.a__color#gd_a_right(type="number", name="" value='0' max='255' min='0' readonly).d-inline-block
                .wrapper.d-flex
                    label(for="gd_hex_right") Hex
                    label(for="gd_r_right") R
                    label(for="gd_g_right") G
                    label(for="gd_b_right") B
                    label(for="gd_a_right") A

