.light {
  
    body{
        background-color: #f5f5f5;
        color: #323232;
    }
    ::selection{
      color: #232323;
      background-color: #ccc;
    }
    #title_section{
        #heading{
        }
        #magic_stick{
        }
    }
    #github {
      > a{
        color: #323232;
      }
    }

    #menu {
        background-color: #bdbdbd8e;
        #menu_list {
          .menu__item {
            color: #222222;
          }
        }
        #tubeLight {
          background-color: #5e81ec;
          #light {
            background: linear-gradient(
              to bottom,
              #5e81ec60 50%,
              #ffffff00 98%
            );
          }
        }
      }
}
// color: #ca5aca;
// color: #f31c63;
// color: #ed6b5b;