@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.light body {
  background-color: #f6f6f6;
  color: #323232;
}
.light #menu {
  background-color: rgba(189, 189, 189, 0.5568627451);
}
.light #menu #menu_list .menu__item {
  color: #222222;
}
.light #menu #tubeLight {
  background-color: #5e81ec;
}
.light #menu #tubeLight #light {
  background: linear-gradient(to bottom, rgba(94, 129, 236, 0.3764705882) 50%, rgba(255, 255, 255, 0) 98%);
}

* {
  font-family: "Bree Serif", serif;
}

.range {
  height: 80px;
  width: 380px;
  color: #222222;
  border-radius: 10px;
  position: relative;
  padding: 0 65px 0 45px;
}
.range .field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.range .field input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: #9eb6ff;
  border-radius: 5px;
  outline: 0;
  border: none;
}
.range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: royalblue;
  border-radius: 50%;
  border: 1px solid #315bda;
  cursor: pointer;
}
.range .field input::-moz-range-progress {
  background-color: royalblue;
}
.range .field .value {
  font-size: 14px;
}
.range .field .value.left {
  margin-right: 10px;
}
.range .field .value.right {
  margin-left: 10px;
}
.range .slider_value {
  position: relative;
  width: 100%;
}
.range .slider_value > span {
  color: #f5f5f5;
  position: absolute;
  font-size: 13px;
  height: 25px;
  width: 25px;
  font-weight: 500;
  top: -9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}
.range .slider_value > span.show {
  transform: translateX(-50%) scale(1);
}
.range .slider_value > span::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: royalblue;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  border: 3px solid #2147bb;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

#title_section #magic_stick {
  top: -6px;
  left: 57%;
  transform: rotate(-38deg);
}

#menu {
  background-color: rgba(189, 189, 189, 0.5568627451);
}
#menu #menu_list {
  list-style: none;
}
#menu #menu_list .menu__item {
  cursor: pointer;
  color: #222222;
}
#menu #tubeLight {
  height: 5px;
  width: 45px;
  display: block;
  background-color: #5e81ec;
  top: 0;
  left: 45px;
  transform: translateX(50%);
  transition: left 0.5s;
}
#menu #tubeLight #light {
  position: absolute;
  width: 160%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(94, 129, 236, 0.3764705882) 50%, rgba(255, 255, 255, 0) 98%);
  -webkit-clip-path: polygon(19% 0, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(19% 0, 80% 0%, 100% 100%, 0% 100%);
  left: -30%;
  top: 5px;
}

.active {
  -webkit-animation: show 0.7s;
          animation: show 0.7s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#boxShadowMagic__page #boxShadowMagic_result #boxShadowMagic_sample {
  width: 150px;
  height: 150px;
  background-color: #ccc;
}

.page {
  height: calc(100vh - 150px);
}/*# sourceMappingURL=style.css.map */