.container.mt-auto.mb-2
    .row.text-center.d-flex.justify-content-center
        nav#menu.col-4.position-relative.rounded
            ul#menu_list.d-flex.justify-content-around.align-items-center.mb-0.p-3
                li.menu__item.fs-5.w-100.text-center.ps-3(data-target='bxSh_page_menu')
                    i.fa-solid.fa-wand-magic.text-primary
                li.menu__item.fs-5.w-100.text-center.ps-3(data-target='txtSh_page_menu')
                    i.fa-solid.fa-dice-d20
                li.menu__item.fs-5.w-100.text-center.ps-3(data-target='gradient_page_menu')
                    i.fa-solid.fa-cookie-bite
                li.menu__item.fs-5.w-100.text-center.ps-3(data-target='border_page_menu')
                    i.fa-solid.fa-user-astronaut
            #tubeLight.position-absolute
                #light