@import 'global/color';
@import 'global/font';
@import 'global/reset';

#title_section{
    #heading{

    }
    #magic_stick{
        top: -6px;
        left: 57%;
        transform: rotate(-38deg);
    }
}
#github{

}